<style>
.list .item {
    border: 1px solid #ccc;
}
.cata{
	padding: 0px 0px 0px 51px;
}
.item-complex .item-content, .item-radio .item-content {
    padding: 16px 49px 6px 16px;
}

</style>
<ion-view title="Categorias">
 <!--<search-bar ng-model="search"></search-bar>-->
    <ion-content>
      <!-- The content of the page -->
      <ion-list class="list">

			  <ion-item class="item item-list" ng-repeat="person in todos | orderBy:'name'" href="#/app/list/{{person.id-1}}" ng-if="todos.length > 0">
				 
				   <h3 style="font-size: 17px !important;" class="cata_">{{person.name}}</h3>
			       

					<span class="badge badge-positive">{{person.formulas.length}}</span>
			  </ion-item>

			   <ion-item class="animate-if" ng-if="todos.length == 0">
						  No se Encuentran Registros
			  </ion-item>

      </ion-list>
	  
	 <!-- <ion-list class="list condensed-space no-padding animate-blinds done done done done">
	  
		  <ion-item class="card balanced-bg in colorTextList" style="transition-delay: 0.13s; font-size: 20px;" ng-repeat="person in todos" href="#/list/{{$index}}">
			{{person.name}}
				<span class="badge badge-stable">{{person.formulas.length}}</span>
		  </ion-item>

      </ion-list>-->
	  
	  
    </ion-content>
  </ion-view>