
<ion-view title="Calcular">
	<ion-content class="has-header padding form-content">

	<form name="infoForm1" class="infoFormTest" novalidate="" ng-submit="submitAdrenalina(infoForm1, info)">

 <div class="list">

            <div class = "row">
                <div class = "col text-center">
                <div id="circle" ng-class="{ success: infoForm1.peso.$valid, danger: infoForm1.peso.$invalid }">
                    <span class="innerTEXT-1">  
                        <input type="number" name="peso" id="peso" ng-model="info.peso" ng-minlength="1"  required>
                    </span>
                </div>
                peso
            </div>
 
 
                <div class = "col text-center">

             <div id="circle" ng-class="{ success: infoForm1.diluir.$valid, danger: infoForm1.diluir.$invalid }">
                <span class="innerTEXT-2">  
                    <input type="number"  name="diluir" ng-model="info.diluir" required>
                </span>
            </div>
            diluir
            </div>
 
          </div>


            <div class = "row">
                <div class = "col text-center">
                <div id="circle" ng-class="{ success: infoForm1.ampollas.$valid, danger: infoForm1.ampollas.$invalid }">
                    <span class="innerTEXT-Top-1">  
                        <input type="number" name="ampollas" id="ampollas" ng-model="info.ampollas" ng-minlength="1"  required>
                    </span>
                </div>
                ampollas
            </div>
 
 
                <div class = "col text-center">

             <div id="circle" ng-class="{ success: infoForm1.dosis.$valid, danger: infoForm1.dosis.$invalid }">
                <span class="innerTEXT-Top-2">  
                    <input type="number"  name="dosis" ng-model="info.dosis" required>
                </span>
            </div>
            Dosis
            </div>
 
          </div>


         </div>

       <!-- <div class="list___">
            <label class="item item-input">
                <input type="number" name="peso" placeholder="Ingrese Valor" ng-model="info.peso" ng-minlength="1" required>
				<span class="input-label">Peso </span>
            </label>
            <label class="item item-input">            
                <input type="number" name="diluir" placeholder="Ingrese Valor" ng-model="info.diluir" ng-minlength="1" required>
				<span class="input-label">ML para diluir</span>
            </label>
             <label class="item item-input">            
                <input type="number" name="ampollas" placeholder="Ingrese Valor" ng-model="info.ampollas" ng-minlength="1" required>
                <span class="input-label">N.- Ampollas</span>
            </label>
             <label class="item item-input">            
                <input type="number" name="dosis" placeholder="Ingrese Valor" ng-model="info.dosis" ng-minlength="1" required>
                <span class="input-label">Dosis</span>
            </label>
		
        </div>-->

		
		
        <div  id="resBoton1" style="position: absolute; bottom: 0px; width: 100%">
            <div style="border:1px solid #ccc; background-color:#fff; " ng-class="{ ver: resultado != 0, ocultar: resultado == ''}">
                <div style="background-color:#F1F1F1; padding:5px; border-bottom:1px solid #ccc;">Resultados</div>
                <div style="padding:5px;">{{resultado}}</div>
            </div>
            <div style="text-align: center">
                <div class="row">
                  <div class="col"><button type="button" class="button button-block button-assertive"  ng-click="reset()">CLEAR</button></div>
                  <div class="col"><button type="submit" class="button button-block button-positive">CALCULATE</button></div>
                </div>
              
            </div>
        </div>

    </form>
      </ion-content>
</ion-view>	