
<ion-view title="Calcular">
	<ion-content class="has-header padding form-content">
        <div id="info-form" style="top: 0px; width: 100%; margin-bottom: 10px;">
            <div style="border:1px solid #ccc; background-color:#fff; ">
                <div style="background-color:#F1F1F1; padding:5px; border-bottom:1px solid #ccc;">Informacion</div>
                <div style="padding:5px; background-color:#f9f9f9;">asdasdas</div>
            </div>

        </div>

   <form name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)"> 
        
          <div class="list">
          
            <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}">
              <span class="input-label">Username</span>
              <input type="text" name="username" ng-model="authorization.username" ng-minlength="5" ng-maxlength="20" required>
            </label>
            
            <div class="error-container" ng-show="authorizationForm.username.$error" ng-messages="authorizationForm.username.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>
            
            <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
              <span class="input-label">Password</span>
              <input type="password" name="password" ng-model="authorization.password" ng-minlength="5" ng-maxlength="20" required>
            </label>
            
            <div class="error-container last-error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
                <div ng-messages-include="error-list.html"></div> 
            </div>          
            
          </div>     
          
          <button class="button button-full button-positive" type="submit">
            Sign In
          </button>
            
        </form>   

          <script id="error-list.html" type="text/ng-template">  
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i> 
              This field is required!sss
            </div>
            <div class="error" ng-message="minlength">
              <i class="ion-information-circled"></i> 
              Minimum length of this field is 5 characters!
            </div>
            <div class="error" ng-message="maxlength">
              <i class="ion-information-circled"></i> 
              Maximum length of this field is 20 characters!
            </div>
          </script>   

	<!--<form name="myForm" novalidate>
        <div class="list___">
            <label class="item item-input">
                <input type="number" name="peso" placeholder="Ingrese Valor" ng-model="info.peso" ng-minlength="1" required>
				<span class="input-label">Valor de Peso </span>
            </label>
            <label class="item item-input">            
                <input type="number" name="edad" placeholder="Ingrese Valor" ng-model="info.edad" ng-minlength="1" required>
				<span class="input-label">Valor de Edad</span>
            </label>
            <label class="item item-input">            
                <input type="number" name="creatinina" placeholder="Ingrese Valor" ng-model="info.creatinina" ng-minlength="1" required>
                <span class="input-label">creatinina serica </span>
            </label>
            <label class="item item-input item-select">   
            
               <select name="genero" id="genero" ng-model="info.genero">
                  <option value="1" selected>Masculino</option>
                  <option value="2">Femenino</option>
                </select>
                <span class="input-label">Genero </span>         
            </label>

		
        </div>
        <div class="padding">
            <p ng-show="myForm.creatinina.$error.required">* creatinina es requerido</p>
            <p ng-show="myForm.creatinina.$error.minlength">* creatinina must be longer than 5 characters</p>
            <p ng-show="myForm.edad.$error.required">* k es requerido</p>
            <p ng-show="myForm.edad.$error.minlength">* k must be longer than 6 characters</p>
        </div>
		
		
		<div style="position: absolute; bottom: 0px; width: 100%">
			<div id="res-simple" style="border:1px solid #ccc; background-color:#fff; ">
				<div style="background-color:#F1F1F1; padding:5px; border-bottom:1px solid #ccc;">Resultados</div>
				<div style="padding:5px; background-color:#f9f9f9;">{{resultado}}</div>
			</div>
			<div style="text-align: center">
				<div class="row">
				  <div class="col"><button type="button" class="button button-block button-assertive"  ng-click="reset()">CLEAR</button></div>
				  <div class="col"><button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit(info)">CALCULATE</button></div>
				</div>
			  
			</div>
		</div>

    </form>-->
      </ion-content>
</ion-view>	