
<ion-view title="Calcular">
	<ion-content class="has-header padding form-content">

	<form name="infoForm" class="infoFormTest" novalidate="" ng-submit="submit(infoForm, info)">
		<div>
			 <div class = "row">
                <div class = "col text-center">
                <div id="circle">
                    <span class="innerTEXT">  
                        <input type="number" name="diastolica" id="diastolica" ng-model="info.diastolica" ng-minlength="1"  required>
                    </span>
                </div>
                Presion diastolica
            </div>
 
 
                <div class = "col text-center">

             <div id="circle">
                <span class="innerTEXT2">  
                    <input type="number"  name="sistolica" ng-model="info.sistolica" ng-minlength="1"  required>
                </span>
            </div>
            Presion sistolica
            </div>
		</div>
        <!--<div class="list___">
            <label class="item item-input">
                <input type="number" name="diastolica" placeholder="Ingrese Valor" ng-model="info.diastolica" ng-minlength="1" required>
				<span class="input-label">Presion diastolica </span>
            </label>
            <label class="item item-input">            
                <input type="number" name="sistolica" placeholder="Ingrese Valor" ng-model="info.sistolica" ng-minlength="1" required>
				<span class="input-label">Presion sistolica</span>
            </label>
		
        </div>
        <div class="padding">
            <p ng-show="myForm.diastolica.$error.required">* diastolica es requerido</p>
            <p ng-show="myForm.diastolica.$error.minlength">* diastolica must be longer than 5 characters</p>
            <p ng-show="myForm.sistolica.$error.required">* sistolica es requerido</p>
            <p ng-show="myForm.sistolica.$error.minlength">* sistolica must be longer than 6 characters</p>
        </div>-->
		
		
		<div style="position: absolute; bottom: 0px; width: 100%">
			<!--<div style="border:1px solid #ccc; background-color:#fff; ">
				<div style="background-color:#F1F1F1; padding:5px; border-bottom:1px solid #ccc;">Resultados</div>
				<div style="padding:5px;">{{resultado}}</div>
			</div>-->
            <resultsimple></resultsimple>
			<div style="text-align: center">
				<div class="row">
				  <div class="col"><button type="button" class="button button-block button-assertive"  ng-click="reset()">CLEAR</button></div>
				  <div class="col"><button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit(info)">CALCULATE</button></div>
				</div>
			  
			</div>
		</div>

    </form>
      </ion-content>
</ion-view>	