
<ion-view title="Calcular">
	<ion-content class="has-header padding form-content">
        <div id="info-form" style="top: 0px; width: 100%; margin-bottom: 10px;">
            <div style="border:1px solid #ccc; background-color:#fff; ">
                <div style="background-color:#F1F1F1; padding:5px; border-bottom:1px solid #ccc;">Informacion</div>
                <div style="padding:5px; background-color:#f9f9f9;">asdasdas</div>
            </div>

        </div>

	<form name="myForm" novalidate>
        <div class="list___">
            <label class="item item-input">
                <input type="number" name="peso" placeholder="Ingrese Valor" ng-model="info.peso" ng-minlength="1" required>
				<span class="input-label">Valor de Peso </span>
            </label>
            <label class="item item-input">            
                <input type="number" name="edad" placeholder="Ingrese Valor" ng-model="info.edad" ng-minlength="1" required>
				<span class="input-label">Valor de Edad</span>
            </label>
            <label class="item item-input">            
                <input type="number" name="creatinina" placeholder="Ingrese Valor" ng-model="info.creatinina" ng-minlength="1" required>
                <span class="input-label">creatinina serica </span>
            </label>
            <label class="item item-input item-select">   
            
               <select name="genero" id="genero" ng-model="info.genero">
                  <option value="1" selected>Masculino</option>
                  <option value="2">Femenino</option>
                </select>
                <span class="input-label">Genero </span>         
            </label>

		
        </div>
        <div class="padding">
            <p ng-show="myForm.creatinina.$error.required">* creatinina es requerido</p>
            <p ng-show="myForm.creatinina.$error.minlength">* creatinina must be longer than 5 characters</p>
            <p ng-show="myForm.edad.$error.required">* k es requerido</p>
            <p ng-show="myForm.edad.$error.minlength">* k must be longer than 6 characters</p>
        </div>
		
		
		<div style="position: absolute; bottom: 0px; width: 100%">
			<div id="res-simple" style="border:1px solid #ccc; background-color:#fff; ">
				<div style="background-color:#F1F1F1; padding:5px; border-bottom:1px solid #ccc;">Resultados</div>
				<div style="padding:5px; background-color:#f9f9f9;">{{resultado}}</div>
			</div>
			<div style="text-align: center">
				<div class="row">
				  <div class="col"><button type="button" class="button button-block button-assertive"  ng-click="reset()">CLEAR</button></div>
				  <div class="col"><button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit(info)">CALCULATE</button></div>
				</div>
			  
			</div>
		</div>

    </form>
      </ion-content>
</ion-view>	