/* Empty. Add your own CSS if you like */
.disabled {
  cursor: not-allowed;
}
.animate-if{
	font-size:18px; background-color:#f8f8f8; text-align:center; top: 200px;
}

.scroll{height: 100%;}

/*.form-validate.ng-invalid {
    border: 3px solid #cc2511;
}
.form-validate.ng-valid {
    border: none;
}

form input.ng-invalid:not(.ng-pristine) {
    box-shadow: 0 0 3px red;
}
.error-message {
    padding: 12px;
    background-color: rgba(255, 133, 0, 0.1);
    font-wei/ght: bold;
}
.item-input input {
    margin: 0 9px 0 0;
}*/

/*nuevos formularios*/
.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C !important;
}

.no-errors {
  border-bottom: 3px solid green;
}

.item-select {
  width: 75%; /* Or whatever you'd like the width to be */
}

.item-select select {
  left: 0;
}

/*fancy*/
.fancy-select .list {
  margin: -1px 0; }

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; }
  /* line 19, ../scss/modules/_fancy-select.scss */
  .fancy-select-items .item {
    overflow: hidden;
    /* Clearfix */ }

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
  height: 32px;
  line-height: 32px; }

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
  float: left;
  margin-right: 10px;
  width: 30px;
  text-align: center; }


.item-input input{
   /*  text-align: right; */
}

#circle {
	background-color: #f8f8f8;
    border: 6px solid #387ef5;
    border-radius: 50%;
    color: black;
    height: 100px;
    width: 100px;
    margin: auto;
   
}

.success{  border: 6px solid #387ef5;}

.danger{  border: 6px solid #B7C2F7 !important;}

.innerTEXT{
    left: 39px;
    position: absolute;
    top: 43px
}
.innerTEXT2{
    left: 145px;
    position: absolute;
    top: 43px
}
.innerTEXT3{
    left: 263px;
    position: absolute;
    top: 43px
}

.innerTEXT-1{
    left: 67px;
    position: absolute;
    top: 43px
}
.innerTEXT-2{
    left: 231px;
    position: absolute;
    top: 43px
}

.infoFormTest input[type="number"] {
    background-color: transparent;
    border: medium none;
    font-size: 30px;
    width: 50px;
}